.hero
  position: relative
  background-color: rgba($secondary , 0.47)
  width: 100%
  height: 720px
  &::before
    content: ""
    left: 0
    right: 0
    top: 0
    bottom: 0
    position: absolute
    z-index: -1
    background-image: url("../img/hero-bg.png")
    background-repeat: no-repeat
    background-size: cover
    transform: matrix(-1, 0, 0, 1, 0, 0)
  &__center
    display: flex
    align-items: start
    justify-content: space-between
  &__wrapper
    padding: 0 47px 0 50px
    padding-top: 235px
  &__title
    font-weight: 500
    font-size: 84px
    line-height: .95
    text-transform: uppercase
    margin: 0 0 34px
    &--strong
      font-weight: 800

  &__subtitle
    font-weight: 800
    font-size: 24px
    line-height: 150%
  &__description
    max-width: 380px
    font-weight: 500
    font-size: 24px
    line-height: 133%
    padding-top: 8px
  &__advantage
    position: absolute
    left: 0
    right: 0
    bottom: 0
    height: 140px
    background-color: rgba(#ffffff,.17)
.advantage
  padding: 0 47px 0 50px
  display: flex
  align-items: center
  justify-content: space-between
  height: 100%
  &__group

    width: 300px
    &--bottons
      width: auto
      margin-left: 50px
  &__item
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    font-size: 20px
    line-height: 1.6
  &__name
    font-weight: 500
  &__value
    font-weight: 800
  &__next
    width: 64px
    height: 64px
    border-radius: 50%
    background-color: rgba(#fff ,.06 )
    mix-blend-mode: normal
