@media ( min-width: 993px )
  .advantage
    &__group
      &--bottons
        width: auto
        margin-left: 70px
  
@media( max-width: 1200px)
  .container
    max-width: 960px
@media ( max-width: 992px )
  .container
    max-width: 700px
  .menu
    &__link
      font-size: 17px
    &__item:not(:last-child)
      margin-right: 40px
  .hero
    &__wrapper
      padding: 165px 10px 0
    &__title
      font-size: 68px
      &-wrap
        margin-right: 60px
    &__description
      font-size: 18px
    &__advantage
        height: auto
        background-color: transparent
  .advantage
    flex-direction: column
    padding: 0
    &__group
      width: 100%
      &--bottons
        margin-top: 53px
        margin-bottom: 57px
        display: flex
        align-items: center
        justify-content: space-between
    &__request
      position: static
      width: 50%
      transform: translateX(0)
@media  ( max-width: 767px )
  .container
    max-width: 576px
    width: 90%

@media ( max-width: 576px )
   .container
      min-width: 280px
  


