*
  box-sizing: border-box
  &::after, &::before
    box-sizing: border-box
@font-face
  font-family: 'Akrobat'
  src: local('Akrobat'), local('Akrobat-Regular'), url('../fonts/Akrobat.woff2') format('woff2'), url('../fonts/Akrobat.woff') format('woff'), url('../fonts/Akrobat.ttf') format('truetype')
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Akrobat'
  src: local('Akrobat SemiBold'), local('Akrobat-SemiBold'), url('../fonts/Akrobatsemibold.woff2') format('woff2'), url('../fonts/Akrobatsemibold.woff') format('woff'), url('../fonts/Akrobatsemibold.ttf') format('truetype')
  font-weight: 600
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Akrobat'
  src: local('Akrobat Bold'), local('Akrobat-Bold'), url('../fonts/Akrobatbold.woff2') format('woff2'), url('../fonts/Akrobatbold.woff') format('woff'), url('../fonts/Akrobatbold.ttf') format('truetype')
  font-weight: 700
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Akrobat'
  src: local('Akrobat ExtraBold'), local('Akrobat-ExtraBold'), url('../fonts/Akrobatextrabold.woff2') format('woff2'), url('../fonts/Akrobatextrabold.woff') format('woff'), url('../fonts/Akrobatextrabold.ttf') format('truetype')
  font-weight: 800
  font-style: normal
  font-display: swap

body
  margin: 0
  color: $primary
  //background-color: $secondary
  font-family: 'Akrobat', sans-serif
  font-style: normal
  font-weight: 500
  @include scrollbars($scroll-size, $scroll-size-half, $gradient-3,  $secondary )
  position: relative
  z-index: -10
main
  position: relative
  z-index: -10

h1,h2,h3,h4,h5,h6
  margin: 0

a
  text-decoration: none

a, input
  color: inherit

.container
  max-width: 1040px
  margin: 0 auto

img
  max-width: 100%

.button //TODO
  border-color: transparent
  outline: none

.request-button
  border-color: transparent
  outline: none
  overflow: hidden
  min-height: 61px
  max-height: 160px
  max-width: 50%
  min-width: 200px
  background: linear-gradient(143.05deg, #FCA82D 20.13%, #EFC449 85.02%)
  border-radius: 30.5px
  font-weight: 700
  font-size: 16px
  line-height: 2
  text-transform: uppercase
  display: flex
  align-items: center
  justify-content: center
  padding: .7em 2em

.arrow-button
  display: flex
  flex-shrink: 0
  align-items: center
  justify-content: center
  text-decoration: none
  width: 64px
  height: 64px
  border-radius: 50%
  background: linear-gradient(138.91deg, rgba(#0015B1, .2) 23.29%,rgba( #C302D5,.2) 88.99%)
  cursor: pointer
.title
  font-weight: 700
  font-size: 64px
  line-height: .94
  text-transform: uppercase
