
$primary: #FFFFFF
$secondary: #010F29
$text-color: #E9F1FF
$gradient-1: #160DB8
$gradient-2: #65032B
$gradient-3: #EAA654

$scroll-size: 10px
$scroll-size-half: $scroll-size/2

$footer-text-color: #BDBDBD
$dark: #0A223D
$light: #FFFFFF
